.logout-container-wrapper {
	position: relative;

	.caret {
		background: #FFF;
		border-radius: 0.2rem;
		bottom: -2.5em;
		height: 2rem;
		position: absolute;
		right: 0.5em;
		transform: rotate(45deg);
		transition: all 0.5s ease-in-out;
		width: 2rem;
	}

	.logout-container {
		background-color: #FFF;
		border-radius: 6px;
		box-shadow: 0 0.1rem 3rem rgba(0, 0 , 0, 0.08);
		padding: 1em;
		position: absolute;
		right: -0.5em;
		text-align: right;
		top: calc(100% + 0.5em);

		.logout-button {
			cursor: pointer;
			font-weight: 600;
			letter-spacing: 1px;
			margin: 1em;
			text-align: center;
		}

		.logout-email-address {
			opacity: 0.7;
		}

		.logout-user-name {
			font-weight: 700;
			margin-bottom: 0;
		}
	}
}