@import '~theme/variables';

$nav-height: 3.875rem;

.contentWrapper {
	position: relative;
	min-height: calc(100vh - #{$nav-height});
}

.content {	
	margin: 0 auto;
	max-width: $max-width-full;
	padding: 1.5rem;
	position: relative;
	margin-top: $nav-height;
}