* {
	font: 400 16px/1.5 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif;

	*,
	*::before,
	*::after {
		box-sizing: border-box !important;
	}

	h1 {
		@extend %font-size-heading-f1;
	}

	h2 {
		@extend %font-size-heading-f2;
	}

	h3 {
		@extend %font-size-heading-f3;
	}

	h4 {
		@extend %font-size-heading-f4;
	}

	h5 {
		@extend %font-size-heading-f5;
	}

	p {
		@extend %font-size-paragraph-base;
		margin-bottom: 0.5rem;
	}

	.text-center-tablet-portrait-up {
		@include for-tablet-portrait-up {
			text-align: center;
		}
	}
}