html body {
	margin: 0;
	max-width: none;

	img {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}

section {
	margin: 0 auto;
	max-width: $max-width-full;
	padding: 1.5rem;
}

.full-screen {
	max-width: none;
	padding: 1.5rem 0;
}

// max[key]
$max-width-map: (
	'-none': 'none',
	'-xsmall': $max-width-xsmall,
	'-small': $max-width-small,
	'-medium': $max-width-medium,
	'-large': $max-width-large,
	'-xlarge': $max-width-xlarge,
	'-full': $max-width-full
);

@each $max-width-class, $max-width-value in $max-width-map {
	.max-width#{$max-width-class},
	%max-width#{$max-width-class} {
		max-width: $max-width-value;
	}
}
