%font-family {
	&-mono {
		font-family: $font-family-mono;
	}

	&-sans {
		font-family: $font-family-sans;
	}

	&-serif {
		font-family: $font-family-serif;
	}
}

%font-weight {
	&-bold {
		font-weight: $font-weight-bold;
	}

	&-extra-light {
		font-weight: $font-weight-extra-light;
	}

	&-light {
		font-weight: $font-weight-light;
	}

	&-normal {
		font-weight: $font-weight-normal;
	}

	&-semi-bold {
		font-weight: $font-weight-semi-bold;
	}
}

// Values:
// MEDIA QUERY KEYS: 'all', 'phone-only', 'tablet-portrait-up', 'tablet-landscape-up', 'desktop-up'
// MEDIA QUERY VALUES: 'font-size' and 'line-height'
// ADDITIONAL KEYS: 'additional-styles'

//.font-size-heading[key]
$heading-styles-map: (
	'-f1': (
		'additional-styles': (
			(
				font-weight: $font-weight-semi-bold
			)
		),
		'phone-only': 1.75rem 1.42,
		'tablet-portrait-up': 2rem 1.5
	),
	'-f2': (
		'additional-styles': (
			(
				font-weight: $font-weight-semi-bold
			)
		),
		'all': 1.5rem 1.667
	),
	'-f3': (
		'additional-styles': (
			(
				font-weight: $font-weight-semi-bold
			)
		),
		'all': 1rem 1.5
	),
	'-f4': (
		'additional-styles': (
			(
				font-weight: $font-weight-semi-bold
			)
		),
		'all': 1rem 1.5
	),
	'-f5': (
		'additional-styles': (
			(
				font-weight: $font-weight-semi-bold
			)
		),
		'all': 0.875rem 1.429
	)
);

// .font-size-paragraph[key]
$paragraph-styles-map: (
	'-base': (
		'all': 1rem 1.5
	),
	'-small': (
		'all': 0.875rem 1.429
	)
);

// .font-size-display[key]
$display-styles-map: (
	'-large': (
		'additional-styles': (
			font-weight: $font-weight-semi-bold
		),
		'phone-only': 2rem 1.5,
		'tablet-portrait-up': 3rem 1.167
	)
);

@mixin font-sizing($tag, $modifier, $fontValues, $parentClass) {
	%#{$parentClass}#{$modifier} {
		@each $key, $values in $fontValues {
			@if ($key == 'additional-styles') {
				@each $property, $value in $values {
					#{$property}: $value;
				}
			}

			@if ($key == 'all') {
				font-size: nth($values, 1);
				line-height: nth($values, 2);
			}

			@if ($key == 'phone-only') {
				@include for-phone-only {
					font-size: nth($values, 1);
					line-height: nth($values, 2);
				}
			}

			@if ($key == 'tablet-portrait-up') {
				@include for-tablet-portrait-up {
					font-size: nth($values, 1);
					line-height: nth($values, 2);
				}
			}

			@if ($key == 'tablet-landscape-up') {
				@include for-tablet-landscape-up {
					font-size: nth($values, 1);
					line-height: nth($values, 2);
				}
			}

			@if ($key == 'desktop-up') {
				@include for-desktop-up {
					font-size: nth($values, 1);
					line-height: nth($values, 2);
				}
			}
		}
	}
}

// Generates Sass placeholder(s) %font-size-heading-f1, %font-size-heading-f2,
// %font-size-heading-f3, %font-size-heading-f4, %font-size-heading-f5

@each $heading-style-class, $heading-style-values in $heading-styles-map {
	@include font-sizing(
		'#{$heading-style-class}, ',
		$heading-style-class,
		$heading-style-values,
		font-size-heading
	);
}

// Generates Sass placeholder(s) %font-size-display-large,

@each $display-style-class, $display-style-values in $display-styles-map {
	@include font-sizing(
		'',
		$display-style-class,
		$display-style-values,
		font-size-display
	);
}

// Generates Sass placeholder(s)
// %font-size-paragraph-base,
// %font-size-paragraph-small
@each $paragraph-style-class, $paragraph-style-values in $paragraph-styles-map {
	@include font-sizing(
		'',
		$paragraph-style-class,
		$paragraph-style-values,
		font-size-paragraph
	);
}
