// ---------- COLORS ----------
// ---------- primary ----------
$color-black: #09101d; // rgb(9, 16, 29)
$color-primary-10: #e7effa;
$color-primary-5: #f3f7fd;
$color-primary-7: #eef4fc;
$color-primary-dark: #134194; // rgb(19, 65, 148)
$color-primary: #0b63ce; // rgb(11, 99, 206)
$color-white: #ffffff; // rgb(255, 255, 255)

// ---------- accent ----------
$color-accent-1: #1aa0e8; // rgb(26, 160, 232)
$color-accent-2: #e06e31; // rgb(224, 110, 49)
$color-accent-3: #d33a2f; // rgb(211, 58, 47)
$color-accent-4: #42bfc2; // rgb(66, 191, 194)
$color-accent-5: #e55e75; // rgb(229, 94, 117)
$color-accent-6: #19ab4f; // rgb(25, 171, 79)
$color-accent-7: #503690; // rgb(80, 54, 144)
$color-accent-8: #fdcc4a; // rgb(253, 204, 74)
$color-accent-9: #47c6f5; // rgb(71, 198, 245)
$color-accent-10: #072252; // rgb(7, 34, 82)

// ---------- neutral ----------
$color-neutral-1: #2c3a4b; // rgb(44, 58, 75)
$color-neutral-2: #394452; // rgb(57, 68, 82)
$color-neutral-3: #545d69; // rgb(84, 93, 105)
$color-neutral-4: #6d7580; // rgb(109, 117, 128)
$color-neutral-5: #858c94; // rgb(133, 140, 148)
$color-neutral-6: #a5abb3; // rgb(165, 171, 179)
$color-neutral-7: #dadee3; // rgb(218, 222, 227)
$color-neutral-8: #ebeef2; // rgb(235, 238, 242)
$color-neutral-9: #f4f6f9; // rgb(244, 246, 249)

// ---------- action ----------
$color-action-default: #0b5fff; // rgb(11, 95, 255)
$color-action-default-hover: darken(
	$color-action-default,
	5%
); // #0053F0, rgb(0, 83, 240)
$color-action-default-active: darken(
	$color-action-default,
	10%
); // #004AD7, rgb(0, 74, 215)
$color-action-secondary: $color-accent-6;
$color-action-secondary-hover: darken(
	$color-action-secondary,
	5%
); // #0C9E42, rgb(12, 158, 66)
$color-action-secondary-active: darken(
	$color-action-secondary,
	10%
); // #009236, rgb(0, 146, 54)
$color-action-visited: #5e38ba; // rgb(94, 56, 186)

// ---------- function ----------
$color-function-error: #da1414; // rgb(218, 20, 20)
$color-function-error-border: lighten(
	$color-function-error,
	28%
); // #F48989, rgb(244, 137, 137)
$color-function-error-background: lighten(
	$color-function-error,
	50%
); // #FEEFEF, rgb(254, 239, 239)
$color-function-warning: #b95000; // rgb(185, 80, 0)
$color-function-warning-border: lighten(
	$color-function-warning,
	25%
); // #FF8F39, rgb(255, 143, 57)
$color-function-warning-background: lighten(
	$color-function-warning,
	60%
); // #FFF4EC, rgb(255, 244, 236)
$color-function-success: #287d3c; // rgb(40, 125, 60)
$color-function-success-border: lighten(
	$color-function-success,
	25%
); // #5ACA75, rgb(90, 202, 117)
$color-function-success-background: lighten(
	$color-function-success,
	63%
); // #EDF9F0, rgb(237, 249, 240)
$color-function-info: #2e5aac; // rgb(46, 90, 172)
$color-function-info-border: lighten(
	$color-function-info,
	28%
); // #89A7E0, rgb(137, 167, 224)
$color-function-info-background: lighten(
	$color-function-info,
	53%
); // #EEF2FA, rgb(238, 242, 250)

// ---------- SPACING ----------
$size-0_25: 0.25rem;
$size-0_5: 0.5rem;
$size-0_75: 0.75rem;
$size-1: 1rem;
$size-1_25: 1.25rem;
$size-1_5: 1.5rem;
$size-2: 2rem;
$size-2_5: 2.5rem;
$size-3: 3rem;
$size-3_5: 3.5rem;
$size-4: 4rem;
$size-4_5: 4.5rem;
$size-5: 5rem;
$size-6: 6rem;

// ---------- ELEVATION ----------
$shadow-color-1: rgba(0, 0, 0, 0.14);
$shadow-color-3: rgba(0, 0, 0, 0.06);

$elevation-values: (1, 2, 3, 4, 6, 8, 11, 15, 24);

@function elevation($n) {
	@return 0px ($n - 1) * 0.3 + 0.5px $n * 0.35 + 3px ($n - 1) * -0.33px
			$shadow-color-1,
		0px $n * 1px $n * 1.5px ($n - 1) * 0.15px
			rgba(0, 0, 0, 0.03 + ($n * 0.002)),
		0px $n * 0.3 + 2px $n * 2px $n * 0.4 - 1px $shadow-color-3;
}

$elevation-1: elevation(nth($elevation-values, 1));
$elevation-2: elevation(nth($elevation-values, 2));
$elevation-3: elevation(nth($elevation-values, 3));
$elevation-4: elevation(nth($elevation-values, 4));
$elevation-5: elevation(nth($elevation-values, 5));
$elevation-6: elevation(nth($elevation-values, 6));
$elevation-7: elevation(nth($elevation-values, 7));
$elevation-8: elevation(nth($elevation-values, 8));
$elevation-9: elevation(nth($elevation-values, 9));

// ---------- LAYOUT ----------
$max-width-xsmall: 320px;
$max-width-small: 520px;
$max-width-medium: 720px;
$max-width-large: 900px;
$max-width-xlarge: 1200px;
$max-width-full: 1366px;

// ---------- BREAKPOINTS ---------
$breakpoint-for-phone-only: 599px;
$breakpoint-for-tablet-portrait-up: 600px;
$breakpoint-for-tablet-landscape-up: 900px;
$breakpoint-for-desktop-up: 1200px;
$breakpoint-for-large-desktop-up: 1800px;

// ---------- GUTTERS ----------
$container-horizontal-padding-for-phone-only: 1.5rem;
$container-gutter-padding-for-phone-only: 0.5rem;

$container-horizontal-padding-for-tablet-portrait-up: 1.5rem;
$container-gutter-padding-for-tablet-portrait-up: 0.75rem;

$container-horizontal-padding-for-tablet-landscape-up: 4rem;
$container-gutter-padding-for-tablet-landscape-up: 1rem;

// ---------- TYPOGRAPHY ----------
$font-family-sans: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif;
$font-family-serif: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman',
	Times, serif;
$font-family-mono: 'Source Code Pro', Menlo, monospace;

$font-weight-bold: 700;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;

// ---------- SMALL ----------
$border-radius-small: 2px;
$border-radius: 4px;
$border-radius-large: 6px;
$border-radius-xlarge: 8px;
