.sidebarContainer {
	left: 0;
	position: fixed;
	z-index: 1;

	.sideNav {
		background-color: #f5f7fa;
		height: 100%;
		padding: 1.5rem;
		position: relative;
	}
}

.sidebarContentWrapper {
	list-style: none;
	padding-left: 0;

	.activeTitle {
		color: #09101d;
	}

	ul {
		list-style: none;
		padding-left: 1.5rem;

		li {
			padding: 0.75rem 0;
		}
	}

	li {
		padding: 0.5rem 0;
	}

	.link,
	span {
		color: #5b6170;
		font-weight: 600;
		text-decoration: none;
	}

	.active span {
		color: #09101d;
	}

	.activeLink {
		color: #09101d;
		position: relative;

		&:before {
			background-color: #004ad7;
			border-radius: 0.5rem;
			content: '';
			display: block;
			height: 100%;
			left: -1.5rem;
			position: absolute;
			width: 3px;
		}
	}
}

.sidebarSelect {
	appearance: none;
	background-image: url('/images/icons/caret-bottom-l.svg');
	background-position-x: 100%;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
	padding: 0.5rem 2.5rem 0.5rem 1rem;
	width: 100%;
}
