.sidebarContainer {
	left: 0;
	position: fixed;
	z-index: 1;
	
	.sideNav {
		background-color: #F5F7FA;
		height: 100%;
		padding: 1.5rem;
		position: relative;
	}
}

.sidebarContentWrapper {
	padding-left: 0;
	list-style: none;

	.activeTitle {
		color: #09101D;
	}

	ul {
		list-style: none;
		padding-left: 1.5rem;

		li {
			padding: 0.75rem 0;
		}
	}

	li {
		padding: 0.5rem 0;
	}

	.link, span {
		color: #5B6170;
		text-decoration: none;
		font-weight: 600;
	}

	.active span {
		color: #09101D;
	}

	.activeLink {
		color: #09101D;
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -1.5rem;
			background-color: #004AD7;
			height: 100%;
			width: 3px;
			border-radius: 0.5rem;
		}
	}
}

.sidebarSelect {
	appearance: none;
	width: 100%;
	padding: 0.5rem 2.5rem 0.5rem 1rem;
	background-image: url('/images/icons/icons.svg#caret-bottom')
}