@import '~theme/main';

.searchContainer {
	input[type='search']::-webkit-search-decoration,
	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-results-button,
	input[type='search']::-webkit-search-results-decoration {
		display: none;
	}

	.searchForm {
		position: relative;

		.searchInput {
			border: none;
			border-radius: 4px;
			height: 100%;
			outline: none;
			padding: 0.5rem 1.5rem 0.5rem 0.75rem;
			position: relative;
			width: 100%;

			&:active,
			&:focus {
				border: 1px solid $color-action-default-active;
			}
		}

		.searchButton {
			background-color: transparent;
			border-style: none;
			height: 100%;
			padding: 0;
			position: absolute;
		}
	}

	.searchResultsContainer {
		list-style: none;

		.searchResultsItem {
			padding: 1em 0;

			.resultsDescription {
				color: $color-black;
				margin-bottom: 0.5rem;
			}

			.searchResultsLinkContainer:hover {
				text-decoration: none;

				.resultsPath,
				.resultsTitle {
					text-decoration: underline;
				}
			}
		}
	}

	&.pageWrapper {
		.searchForm {
			.searchInput {
				background-color: white;
				height: 2.75rem;
				padding: 0.75rem 2.5rem 0.75rem 1rem;

				@extend %elevation-6;
			}

			.searchButton {
				right: 0.5rem;

				.lexiconIcon {
					fill: $color-primary;
					height: 24px;
					width: 24px;
				}
			}
		}

		.searchResultsContainer {
			padding: 3rem 0;
		}
	}

	&.sidebarWrapper {
		margin-right: 1rem;
		position: relative;

		.searchInput {
			background-color: rgba(255, 255, 255, 0.2);
			color: rgba(255, 255, 255, 0.7);
		}

		.searchButton {
			right: 0.25rem;

			.lexiconIcon {
				fill: #fff;
				height: 16px;
				width: 16px;
			}
		}

		.searchResultsContainer {
			background: #fff;
			border-radius: 4px;
			border: 1px solid gray;
			box-shadow: 0 0 0.875em 0 rgba(109, 117, 128, 0.16),
				0 0.5em 1.125em -0.5em rgba(109, 117, 128, 0.8);
			margin: 0;
			max-height: calc(100vh - 4.5rem);
			overflow-y: auto;
			padding: 0 1rem;
			position: absolute;
			right: -1rem;
			top: 2.5em;
			width: 28rem;
			z-index: 1;

			.searchResultsItem {
				border-bottom: 1px solid gray;

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}
