.accordion {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.accordionHeader {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}
